body {
	font-family: "Lato", sans-serif;
}

.sidenav {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 20px;
}

.sidenav a {
padding: 6px 6px 6px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

.sidenav a:hover {
color: #f1f1f1;
}

.main {
margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

html {
font-family: 'DM Serif Display', serif;
text-align: center;
color: rgb(56, 36, 0);
font-size: 23px
}

.borderMe {
border-width:2px;
border-style:solid;
border-color:black;
}

body {
background-color: #3e41abf0;
}

.container {
color: blueviolet; /*random settings just to see if anything would appear, spoiler:no*/
margin: 5px;
}

.box {
width: 250px;
height: 250px;
color: lightskyblue; /*nothing of this appeared*/
border-radius: 10px;
}


.button {
height: 5px;
width: 18px; /*instead of changin its size, it changed its position in the page*/
}
